.login-page {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    margin-bottom: 80px;
  }
}

.login__heading {
  margin: 20px auto 30px;
  font-weight: 400;
}
