@use '../../../../styles/constants.scss';

.header .button_logout {
  width: max-content;
  box-shadow: none;
  background-color: constants.$color-opacity40;
  padding: 5px 10px;
  border-radius: 10px;

  &:hover {
    box-shadow: none;

    & svg {
      stroke: constants.$color-button;
    }
  }
}

.logout-svg {
  svg {
    width: 25px;
    height: 25px;
    stroke: constants.$color-text-dark;
  }
}
