@use '../../../styles/constants.scss';

.main-page {
  max-width: 1200px;
  margin: 30px auto;
}

.header__user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-name {
  font-size: 1.8rem;
  font-weight: 300;
}
