@use '../../../../styles/constants.scss';
@use '../../../../styles/mixins.scss';

.login-form {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 320px;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: constants.$color-shadow;
  background-color: constants.$color-form;

  @include mixins.media-mobile {
    width: 300px;
    padding: 30px 10px;
    font-size: 1.4rem;
  }
}

.input {
  display: flex;
  flex-direction: column-reverse;
}

.input__label {
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  top: 0;
  padding: 10px;
  color: constants.$color-text-grey;
  transition: all 0.7s ease;
}

.input_empty + .input__label {
  cursor: pointer;
  position: relative;
  top: 30px;
  padding: 5px 10px;
  color: constants.$color-text-grey;
  transition: all 0.7s ease;
}

.input__field {
  cursor: pointer;
  width: 250px;
  height: 30px;
  padding: 5px 10px;
  border: 0;
  background-color: constants.$color-opacity;
  border-bottom: 2px solid constants.$color-text-grey;
  transition: all 0.7s ease;
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: 100;

  &:focus,
  &:valid {
    outline: 0;
    border-bottom-color: constants.$color-text-grey;

    &:invalid {
      border-bottom-color: constants.$color-text-invalid;
    }

    & + .input__label {
      color: constants.$color-text-dark;
    }
  }

  @include mixins.media-mobile {
    font-size: 1.4rem;
  }
}

.input_empty:focus + .input__label {
  color: constants.$color-text-dark;
  transform: translateY(-30px);
}

.error {
  width: 250px;
  color: constants.$color-text-invalid;
  font-size: 1.2rem;

  @include mixins.media-mobile {
    font-size: 1.1rem;
  }
}

.button_login {
  margin-top: 20px;
  padding: 10px;
}
